
.nav{
       z-index: 5; 
        background-color: #262626;
    }

    .spc{
        margin-top: 53px;
    }
    .screen{
        background-color: transparent;
        margin-top: 5px;
    }
    .mark{
        background-color: #262626;
    }
    .buy{
        min-width: 50px;
        background-color: #82b440;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: calc(14px);
        margin-top: 8px;
    }
    .icface{
        margin-right: 20px;
        border-left: 1px solid gray;
        padding-left: 10px;
        transition: all 300ms ease-out 0s;
        color: white;
    }
    .icface:hover{
        color:#FCBC45 ;
    }
    .backpic{
        height: 616px;
        background:linear-gradient(45deg , rgba(0, 0, 0, 0.6) ,rgba(0, 0, 0, 0.7)) , url("../images/1.jpg");
        background-size: cover;
        background-position: center;
        min-height: 690px;
    }
     .bgy{
        background-color: #f9f9f9;
     }
    .text1{
        font-size: calc(13px);
        text-align: center;
        color: #DADADA;
        animation:animate3 1.2s 1 0s forwards linear; 
    }
    @keyframes animate3{
        from{ transform: translateX(50%); }
        to{ transform: translateX(0);}
    }
    .anim{
        animation:animate4 2.2s 1 0s forwards linear; 
    }
    @keyframes animate4{
        0%{ opacity: 0;}
        50%{opacity: 50%;}
        75%{opacity: 75%;}
        100%{ opacity: 100%;}
    }
    .box-quote{
        animation:animate1 1.2s 1 0s forwards linear; 
    }
    .welcome{
        animation:animate2 1.2s 1 0s forwards linear; 
    }
    @keyframes animate2{
        from{ margin-left:-500px; }
        to{ text-align: left;}
    }
    .box1{
        width: 172px;
        height: 57px;
        background-color: #FCBC45;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transition: all 300ms ease-out 0s;
    }
    .link1{
        display: block;
        width: 170px;
        height: 57px;
        line-height: 57px;
        text-decoration: none;
    }
    .box1:hover{
        transform: translateY(-8px);
    }
    .circle{
        width: 50px;
        height: 50px;
        margin-left: auto;
        text-align: center;
        background-color: white;
        animation:animate5 5s infinite forwards 0s linear; 
    }

    @keyframes animate5{
        0%{ box-shadow:0px 0px 0px 0px transparent ;}
        50%{ box-shadow: 0px 0px 0px 4px rgba(255, 255, 255,0.4);}
        75%{ box-shadow: 0px 0px 0px 4px rgba(255, 255, 255,0.3),0px 0px 0px 4px rgba(255, 255, 255,0.2);}
        100%{ box-shadow: 0px 0px 0px 4px rgba(255, 255, 255,0.1),0px 0px 0px 6px rgba(255, 255, 255,0.1);}
    }
    #play{
        text-align: center;
        color: black;
        font-size: 18px;
        line-height: 50px;
        padding-top: 10px;

    }
    .link2{
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;   
        text-decoration: none;
        transition: all 300ms ease-out 0s;
    }
    .link2:hover{
        background-color: #FCBC45;
    }
    .link3{
        color: white;
        margin-right: auto;
        text-decoration: none;
        font-size: 14px;
        transition: all 300ms ease-out 0s;
        margin-top: 14px;
        height: 0;
    }
    .link3:hover{
        color: #FCBC45;
    }
    .graycolor{
        color: #9c9c9c;
    }
     .head5{
        color: #FCBC45;     
    }
    .text5{
        color: #7A7A7A;      
    }
 .num{
        font-size: calc(25px);
        font-weight: bold;
    }
    .super{
        color:#FCBC45 ; 
    }
    .hand{
        width: 40px;
        height: 40px;
        margin-top: -20px;
        transition: all 300ms ease-out 0s;
        margin-right: 10px;
    }
    .hand:hover{
        transform: translateY(-8px);
    }
    .box001{
        margin-left: auto;
        margin-right: auto;
        box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .lorem-text{
        text-align: justify;
    }
    .box22{
        width: 170px;
        background-color: #FCBC45;
        text-align: center;
        transition: all 300ms ease-out 0s;
        font-size: calc(15px);
    }
    .box22:hover{
        transform: translateY(-8px);
    }
    .check{
        color:#FCBC45 ;
        margin-right: 5px;
    }
    .slid1{
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px 5px 5px 5px;
        margin: 35px 10px 15px 10px;
        padding: 10px 20px 0px 20px;
        font-size: calc(14px);
    }
    .manpic{
        width: 60px;
        margin-top: 30px;
    }
    .pic0{
        height: 300px;
        border-radius: 5px;
    }
    .linkline{
        color: black;
        transition: all 200ms ease-out 0s;
    }
    .linkline:hover{
        color:#FCBC45;
    }
    .text022{
        font-size: calc(14px);
    }
    .face{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: white;
        margin-right: 10px;
        cursor: pointer;
        transition:all 300ms ease-out 0s ;
    }
    .face:hover{
        background-color: FCBC45;
        transform: scale(0.9);
    }
    .linking{  
        color: white;
        transition: all 300ms ease-out 0s;
    }
    .linking:hover{
        color: #FCBC45;
    }
    .linking2{
        color: white;
        transition: all 300ms ease-out 0s;
    }
    .linking2:hover{
        color: #FCBC45;;
    }
    @keyframes animate1{
        from{ transform: translateX(-50%); }
        to{ transform: translateX(0%);}
    }
  .headline{
    animation:animate1 1s 1 0s forwards linear;
    text-align:center;
    font-size: calc(20px);
  }
  .phot{
    background-image: url("../images/0111.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .phot1{
    background-image: url("../images/0222.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .phot2{
    background-image: url("../images/0333.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .still{
    font-weight: bold;
  }
  .servis{
    font-weight: bold;
  }
 
@media all and ( max-width:767px ) {
    
    .pic01{
        width: 100%;
    }
    .pic1{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        background-color: #79797985;
    }
    ol {
        display: none;
        width: 100%;
        margin: 0 auto;
        background-color:rgba(77, 76, 75, 0.6);
        border-radius:0px 0px 10px 10px;
        list-style-type: none;
        position: absolute;
        padding:10px;
        transition: all 600ms ease 0s;
    }
    .iconic{
        font-size: calc(25px);
        color:#FCBC45 ;
    }
    .two{
        text-align: right;
    }
     .bg1{
        background:linear-gradient(45deg , rgba(0, 0, 0, 0.645) ,rgba(0, 0, 0, 0.742)) ,url("../images/2.jpg");
        background-position: left top;
    }
    .photo1{
        border-radius: 5px;
        transition: all 400ms ease 0s;
        height: 225px;
    }
    .photo1:hover{
        transform: scale(1.1);
    }
    .back202{
        background:linear-gradient(45deg , rgba(0, 0, 0, 0.645) ,rgba(0, 0, 0, 0.742)) ,url("../images/back202.jpg");
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .mail-box{
        height: 37px;
        background-color: white;
        width: 90%;
    }
    .send-box{
        height: 37px;
        width: 90%;
        background-color: #fcbc45;
    }
    .cash{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -10px;
    }  
    .slid-text{
        display: none;
    }
}
@media all and (min-width:768px) and ( max-width:991px) {
    .pic01{
        width: 70%;
        margin: 20px;
    }
    ol {
        display: none;
        width: 100%;
        margin: 0 auto;
        background-color:rgba(77, 76, 75, 0.6);
        border-radius:0px 0px 10px 10px;
        list-style-type: none;
        position: absolute;
        padding:10px;
        transition: all 600ms ease 0s;
    }
    .bord{
        border-left: 1px solid #141719;
        border-right: 1px solid #141719;
        border-bottom: 1px solid #141719;
    }
    .pic1{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        background-color: #79797985;
    }
    .textmd{
        font-size: calc(14px);
        color: white;
    }
    .cir{
        margin-top: 35px!important;
    }
    .htest{
        font-size: calc(45px);
    }
    .servis{
        font-size:calc( 30px);
    }
    .bg1{
        background:linear-gradient(45deg , rgba(0, 0, 0, 0.645) ,rgba(0, 0, 0, 0.742)) ,url("../images/2.jpg");
        background-position: left top;
        background-attachment: fixed;
        height: 500px;
    }
    .client{
        margin-top: 200px;
    }
    .photo1{
        border-radius: 5px;
        transition: all 400ms ease 0s;
        height: 225px;
    }
    .photo1:hover{
        transform: scale(1.1);
    }
    .head021{
        font-size: calc(20px);
    }
    .back202{
        background:linear-gradient(45deg , rgba(0, 0, 0, 0.6) ,rgba(0, 0, 0, 0.7)) ,url("../images/back202.jpg");
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tc{
        text-align: justify;
    }
    .mail-box{
        height: 37px;
        background-color: white;
        width: 90%;
    }
    .send-box{
        height: 37px;
        width: 90%;
        background-color: #fcbc45;
    }
    .htest{
        font-weight: bold;
    }
    .text5{
        text-align: justify;
        font-size: calc(14px);
    }
    .cash{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -10px;
    }
    .picon{
        z-index: 2;
        bottom: 50px;
        width: 65%;
        left: 110px;
        top: 100px;
        border: 20px solid white;
      }
      .news{
        text-align: center;
      }
      .iconic{
        font-size: calc(35px);
        color:#FCBC45 ;
      }  
}
@media all and (min-width:992px) {
    .pic01{
        width: 50%;
        margin: 15px;
    }
    .pic1{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        background-color: #79797985;
    }
       
    ol {
        display: none;
        width: 100%;
        margin: 0 auto;
        background-color:rgba(77, 76, 75, 0.6);
        border-radius:0px 0px 10px 10px;
        list-style-type: none;
        position: absolute;
        padding:10px;
        transition: all 600ms ease 0s;
    }
        
    ol>li {
        width: 100%; 
    }
    
    ol>li>a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size:calc(16px);
        text-decoration: none;
        font-family: sans-serif;
        line-height: 40px;
        color:white;
        transition: all 600ms ease 0s;
    }   
    ol>li>a:hover {
        color:#FCBC45 ;
    }
    ul>li:hover ol {
        display: block;
    }
    .bord{
        border-left: 1px solid #141719;
        border-right: 1px solid #141719;
        border-bottom: 1px solid #141719;
    }
    .iconic{
        font-size: calc(35px);
        color:#FCBC45 ;
      }
    .textmd{
        font-size: calc(14px);
        color: white;
    }
    .cir{
        margin-top: 35px!important;
    }
    .htest{
        font-size: calc(45px);
    }
    .servis{
        font-size:calc( 30px);
    }
    .bg1{
        background:linear-gradient(45deg , rgba(0, 0, 0, 0.645) ,rgba(0, 0, 0, 0.742)) ,url("../images/2.jpg");
        background-position: left top;
        background-attachment: fixed;
        height: 500px;
    }
    .client{
        margin-top: 200px;
    }
    .photo1{
        border-radius: 5px;
        transition: all 400ms ease 0s;
        height: 225px;
    }
    .photo1:hover{
        transform: scale(1.1);
    }
    .head021{
        font-size: calc(20px);
    }
    .back202{
        background:linear-gradient(45deg , rgba(0, 0, 0, 0.6) ,rgba(0, 0, 0, 0.7)) ,url("../images/back202.jpg");
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .tc{
        text-align: justify;
    }
    .mail-box{
        height: 37px;
        background-color: white;
        width: 90%;
    }
    .send-box{
        height: 37px;
        width: 32%;
        background-color: #fcbc45;
        line-height: 37px;
    }
    .text5{
        text-align: justify;
        font-size: calc(14px);
    }
    .pic0050{
        padding-top: 30px;
    }
    .htest{
        font-size:calc(55px);
        font-weight: bold;
    }
    .cash{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -10px;
    }
    .picon{
        z-index: 2;
        bottom: 50px;
        width: 65%;
        left: 110px;
        top: 100px;
        border: 20px solid white;
      }
      .infor{
        font-size: calc(20px);
        font-weight: 600;
      }
}
 .cash{
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: #faf7f7;
    margin-bottom: -50px;
 }
